
.hero{
    display: flex;
    justify-content: center;
    border: 5px;   
    background-color: black;
    border:solid;
    border-color: red;
    border: #f7c873;
    border-radius: 10px;
    max-width: 100%;
    border-style: ridge;
  }
.CenterThis {
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
width:100%;

}
  
  body {
    background-color: #383840;
    font-family: Arial, Helvetica, sans-serif;
    
  }

  .title {
  display: flex;
  justify-content: center;
  font-size: 69gitpx;
  font-weight: 700;
  text-decoration: underline;
  font-family: Georgia, serif;
  }

  .parent {
  font-family: Georgia, serif;
  text-transform: uppercase;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border-width:20px;
  border-style:double;
  border-color:#000000;
  }


.imgdiv {
display: flex;
justify-content: center;
padding: 50px;
}


  img {
    width: 100px;
    border-radius: 10px;

    
  }
  .descriptPic{
    width: 500px;
    
  }
  
  .container1{
    margin:10px auto;
    border-radius: 200px;
    border: 1px;
    background-color: #434343;
    padding: 10px;
    display: flex;
    align-items: flex;
    text-decoration: none;
    color: black;
    width:1000px;
  }
  
  .box{
    background-color: #a64452;
    margin: 10px 10px 10px 10px;
    border: #f7c873;
    border-radius: 10px;
    border-style: ridge;
  }
  .box1_descript{
    display: flex;
    justify-content: center;
  }
  
  .databox{
    display: flex;
  }

  .button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  