
body {
  background-color: #551919;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}

img {
  width: 100px;
  border-radius: 10px;

}

.hero{
  display: flex;
  justify-content: center;
  border: 5px;
  background-color: black;
  border:solid;
  border-color: red;
  border: #f7c873;
  border-radius: 10px;
  max-width: 100%;
  border-style: ridge;
}


.container{
  border-radius: 200px;
  border: 1px;
  background-color: #434343;
  padding: 10px auto;
  margin: 15% auto;
  text-decoration: none;
  width: 80%;

}

.box{
  background-color: #a64452;
  margin: 10px auto;
  border: #f7c873;
  border-radius: 10px;
  border-style: ridge;
  text-align:center;
  font-size:1.7em;
  }


.container a{
  display:inline-block;
  text-decoration: none;
  color: black;
  height: 100%;
  width: 100%;
}
