

.hero{
  display: flex;
  justify-content: center;
  background-color: black;
  border: #f7c873;
  border-radius: 10px;
  max-width: 100%;
  border-style: ridge;
}

ol {
    display: flex;
    color: blue;
    font-family:Georgia, 'Times New Roman', Times, serif;
    
    align-items: flex-end;
}

body {
    background-color: #7e5858;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}

img {
  width: 100px;
  border-radius: 10px;
}

.container1{
  border-radius: 200px;
  border: 1px;
  background-color: #434343;
  padding: 10px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows:auto;
  margin: 10px auto;
  text-decoration: none;
  width: 80%;
}

.box{
  background-color: #a64452;
  margin: 10px 10px 10px 10px;
  border: #f7c873;
  border-radius: 10px;
  border-style: ridge;
}

.container1 a{
  display:inline-block;
  text-decoration: none;
  color: black;
  height: 100%;
  width: 100%;
}