

.hero{
  display: flex;
  justify-content: center;
  background-color: black;
  border: #f7c873;
  border-radius: 10px;
  max-width: 100%;
  border-style: ridge;
}
body {
  background-color: #383840;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}
ol {
    display: flex;
    color: blue;
    font-family:Georgia, 'Times New Roman', Times, serif;
    
    align-items: flex-end;
}

.table-dark{
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9em;
        font-family: sans-serif;
        min-width: 400px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

}
.table-dark{
    background-color: #009879;
    color: #ffffff;
    text-align: left;

}

.stayled-body{

    font-weight: bold;
    background-color: white;
    color: #009879;
}

img {
  width: 100px;
  border-radius: 10px;
}
.descriptPic{
  width: 500px;
  
}

.container1{
  border-radius: 200px;
  border: 1px;
  background-color: #434343;
  padding: 10px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows:auto;
  margin: 10px auto;
  text-decoration: none;
  width: 80%;
}


.box{
  background-color: #a64452;
  margin: 10px 10px 10px 10px;
  border: #f7c873;
  border-radius: 10px;
  border-style: ridge;
}
.box1_descript{
  display: flex;
  justify-content: center;
}

.container1 a{
  display:inline-block;
  text-decoration: none;
  color: black;
  height: 100%;
  width: 100%;
}
