<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="#Design.css">
    <meta charset="UTF-8">
    <title>Compiled Languages</title>
    <link rel="stylesheet" type="text/css" href="css/modified-layout.css">


</head>

<body>
    <header>
        <div class="hero">
            <nav class = "flex-item navigation-links">
                <a href="index.html"> <img src="/pics/WEDIDCODEITlogo.png" alt="WE DID CODE IT!!!">
            </nav>
        </header>
        </div>
    <div class="container1">
        <a href="Descprition.html">
            <div class="box" th:each="languageType: ${inLanguage}"><h1 th:text = "${languageType.name}">Java</h1>
                <img src="/pics/java.png" alt=""/>
                    <p th:text = "${languageType.description}">Java is a Object Oriented Programming (OOP) language. It's aight.</p>
        </a></div>
    </div>
    <!--change the links to their corresponding link destinations-->
</body>
</html>