<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="#Design.css">
    <meta charset="UTF-8">
    <title>Compiled Languages</title>
    <link rel="stylesheet" type="text/css" href="css/modified-layout.css">


</head>

<body>
    <header>
        <div class="hero">
            <nav class = "flex-item navigation-links">
                <a href="index.html"> <img src="/pics/WEDIDCODEITlogo.png" alt="WE DID CODE IT!!!">
            </nav>
        </header>
        </div>
    <div class="container1">
        <a href="Descprition.html">
            <div class="box"><h1>Java</h1>
                <img src="/pics/java.png" alt=""/>
                    <p>Java is a Object Oriented Programming (OOP) language. It's aight.</p>
                        <p>Companies all across the world use and depend on Java programmers.</p>            
        </a></div>
        <div class="box"><a href="descprition.html"><h1>C#</h1>
            <p> <img src="/pics/C#.png" alt=""/>
                </p>C# is a Object Oriented Programming (OOP) language. It's like Java but sharper.
        </a></div>
            <div class="box"><a href="descprition.html"><h1>C++</h1> <p> <img src="/pics/python.png" alt=""/>
                </p>Python is pretty neat. It does stuff. Amazing. Wow.
        </a></div>
            <div class="box"><a href="descprition.html"><h1>Python</h1> <p> <img src="/pics/python.png" alt=""/>
                </p>Python is pretty neat. It does stuff. Amazing. Wow.
        </a></div>
            <div class="box"><a href="descprition.html"><h1>Python</h1> <p> <img src="/pics/python.png" alt=""/>
                </p>Python is pretty neat. It does stuff. Amazing. Wow.
        </a></div>
            <div class="box"><a href="descprition.html"><h1>Python</h1> <p> <img src="/pics/python.png" alt=""/>
                </p>Python is pretty neat. It does stuff. Amazing. Wow.
        </a></div>
    </div>
    <!--change the links to their corresponding link destinations-->
</body>
</html>