<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="#Design.css">
    <meta charset="UTF-8">
    <title>Compiled Languages</title>
    <link rel="stylesheet" type="text/css" href="css/modified-layout.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">


</head>

<body>
    <header>
        <div class="hero">
            <nav class = "flex-item navigation-links">
                <a href="index.html"> <img src="/pics/WEDIDCODEITlogo.png" alt="WE DID CODE IT!!!">
                
            </nav>
        </header>
        </div>
        
    <div class="container1">
            <a href="Descprition.html">     <!-- needs changed to appropriate path -->
                <div class="box"><h1>Java</h1>
                
                <img src="/pics/java.png" alt=""/>
                    <p>
                        Java is a Object Oriented Programming (OOP) language. It's aight.
                    </p>
                    <p>
                        Companies all across the world use and depend on Java programmers.
                    </p>            
            </p></a></div>
            <div class="box"><h1>JavaScript</h1>
                <p> <img src="/pics/cSharp.png" alt=""/>
                </p>
                a programming language that is one of the core technologies of the World Wide Web
            </div>
            
            <div class="box"><h1>Python</h1> <p> <img src="/pics/python.png" alt=""/>  </p>
                Python is pretty neat. It does stuff. Amazing. Wow.
            </div>
            <div class="box"><h1>Python</h1> <p> <img src="/pics/python.png" alt=""/>  </p>
                Python is pretty neat. It does stuff. Amazing. Wow.
            </div>
            <div class="box"><h1>Python</h1> <p> <img src="/pics/python.png" alt=""/>  </p>
                Python is pretty neat. It does stuff. Amazing. Wow.
            </div>
            <div class="box"><h1>Python</h1> <p> <img src="/pics/python.png" alt=""/>  </p>
                Python is pretty neat. It does stuff. Amazing. Wow.
            </div>
    </div>
    
</body>
</html>