<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="#Design.css">
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/Description-layout.css">


</head>

<body>

<header>
    <div class="hero">
        <nav>
            <a href="/">
                <img src="/pics/WEDIDCODEITlogo.png" alt="WE DID CODE IT!!!">
            </a>



            </a>
        </nav>
    </div>
</header>


<main>
    <section id="flex-item language-compare">

        <h1 class="title" th:text="${language.name}">This is the language being compared</h1>
        <div class="imgdiv"><img th:src="${language.logoUrl}"></div>


        <div class="parent">
            <h2>Frontend?</h2>
            <h2>Backend?</h2>
            <h2>Main uses:</h2>
            <h2>Salary:</h2>
            <h2>Inventor:</h2>
            <h2 th:text=" ${language.isFrontEnd}">True</h2>
            <h2 th:text="${language.isBackEnd}">This is backend</h2>
            <h2 th:unless="${language.isBackEnd == 'T'} ">This is frontend</h2>
            <h2 th:text="'$'+${language.averageSalary}+'0 per year'">Salary Space</h2>
            <h2 th:text="${language.inventor}">Inventor Space</h2>
        </div>

        <div class="CenterThis">

        <form th:action="'/languages/'+${language.id}" method="POST">
            <label for="hashtag">Enter hastag:</label><br>
            <textarea id="hashtag" name="hashtag" rows="1" cols="60"></textarea><br>
            <label for="review">Enter review:</label><br>
            <textarea id="review" name="review" rows="4" cols="60"></textarea><br>
            <input type="submit" value="Submit">
        </form>


        <h2>List of reviews below:</h2>
        <ul>
            <li th:each="review:${language.reviews}" th:text="${review}"></li>
        </ul>
        <h2>List of hashtags below:</h2>
        <ul>
            <li th:each="hashtag:${language.hashtags}">

                <a th:href="'/hashtags/'+${hashtag.id}" th:text="${hashtag.name}"></a>



            </li>
        </ul>
        </div>

        <!--            </section>-->

        <!--            -->
        <!--        </main>-->

        <!--    <div class="container1">-->
        <!--    -->
        <!--        <div class="box1">-->

        <!--            <h2>Java</h2>-->
        <!--            <img src="/pics/java.png" alt=""/>-->

        <!--<p>-->
        <!--    Companies all across the world use and depend on Java programmers.-->
        <!--</p>            -->
        <!--        </div>-->
        <!--        <div class="box2"><h2>C# (C Sharp)</h2>-->
        <!--            <p> <img src="/pics/cSharp.png" alt=""/>-->
        <!--            </p>-->
        <!--            C# is a Object Oriented Programming (OOP) language. It's like Java but sharper.-->
        <!--        </div>-->
        <!--        -->
        <!--        <div class="box3"><h2>Python</h2> <p> <img src="/pics/python.png" alt=""/>  </p>-->
        <!--            Python is pretty neat. It does stuff. Amazing. Wow.-->
        <!--        </div>-->
        <!--    </div>-->
        <!--    -->
        <div class="hero">
        <nav>
            <!--This will break once on an actual server-->
            <a href="/hashtags">
                <img src="/pics/hashtag.png" alt="Go see Hashtags!">
            </a>


            </a>
        </nav>
            </div>
</body>
</html>