<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="#Design.css">
    <meta charset="UTF-8">
    <title>Language Types</title>
    <link rel="stylesheet" type="text/css" href="/css/index-layout.css">
</head>
<body>
<header>
    <div class="hero">
        <nav class = "flex-item navigation-links">
            <img src="/pics/WEDIDCODEITlogo.png" alt="WE DID CODE IT!!!">
        </nav>
    </div>
</header>
<main>
    <div class="container">
        <a  th:href = "'/languagetypes/' + ${languageTypes.id}">
            <div class="box" th:each="languageType: ${languageTypes}">
                <h1 th:text = "${languageType.name}">NameTypes</h1>
                <img th:src="${languageType.logoTypeUrl}">    <!--needs to have dynamic picture reference and/for pojo   -->
                <p th:text ="${languageType.description}">description</p>
            </div></a>
    </div>

</main>

</body>
</html>