<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="#Design.css">
    <meta charset="UTF-8">
    <title>Language Types</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="/css/modified-layout.css">

</head>

<body>
<header>
    <div class="hero">
        <nav class = "flex-item navigation-links">
            <a href="/"> <img src="/pics/WEDIDCODEITlogo.png" alt="WE DID CODE IT!!!">
            </a>
        </nav>
    </div>

</header>
</div>


<div class="container">
    <div class="row">
        <h1> List of languages</h1>
    </div>
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Name</th>
                <th>FrontEnd</th>
                <th>BackEnd</th>
                <th>AverageSalary</th>
                <th>Inventor</th>
                <th>uses</th>
            </tr>
        </thead>
                <tbody class="styled-body">
                    <tr th:each = "languages:${inLanguageType.languages}">
                        <td><a th:href="'/languagetypes/languages/'+${languages.id}"><img th:src="${languages.logoUrl}"></a></td>
                        <td th:text = "${languages.isFrontEnd}"></td>
                        <td th:text = "${languages.isBackEnd}"></td>
                        <td th:text = "'$'+${languages.averageSalary}"></td>
                        <td th:text = "${languages.inventor}"></td>
                        <td th:text = "${languages.uses}"></td>
                    </tr>
                </tbody>
    </table>
</div>


<!--<div class="container1">-->
<!--    <div class="box" th:each="language: ${inLanguageType.languages}">-->


<!--        <p th:text = "${language.name}">Java is a Object Oriented Programming (OOP) language. It's aight.</p>-->

<!--        <p th:text = "${language.uses}">Java is a Object Oriented Programming (OOP) language. It's aight.</p>-->
<!--        &lt;!&ndash;            <img th:src="/pics/+'${language.name}'+.png" alt="WE DID CODE IT!!!"/>&ndash;&gt;-->

<!--    </div>-->
<!--</div>-->


</body>
</html>